<!DOCTYPE html>
<html lang="es">

  <%- include('../partials/head', {
    title: "Paginas Bellas || Perfil de Usuario"
}) %>
  <body>
    <%- include('../partials/header') %>
  <main class="register">
    <section class="register-box">
      <h2>Perfil</h2>
      <article class="register-form">
        <form method="POST" action="/users/updateprofile?_method=PUT" class="register-form-info" enctype="multipart/form-data">
          <div class="register-info">
            <input class="<%= locals.errors && errors.nombre ? 'Es invalid' : null %>" type="text" id="nombre" name="nombre" placeholder="Escribi tu nombre" value="<%= user.name%>">
            <span><%= locals.errors && errors.nombre ? errors.nombre.msg : null%></span>
          </div>
          <div class="register-info">
            <input class="<%= locals.errors && errors.apellido ? 'Es invalid' : null %>" type="text" id="apellido" name="apellido" placeholder="Escribi tu apellido" value="<%= user.apellido %>">
            <label for="apellido"></label>
            <span><%= locals.errors && errors.apellido ? errors.apellido.msg : null%></span>
          </div>
          <div class="register-info">
            <label for="pais"></label>
            <select name="pais" id="pais">
              <option value="">-Seleccione su país</option>
              <option value="ar">Argentina</option>
              <option value="br">Brasil</option>
              <option value="bo">Bolivia</option>
              <option value="ch">Chile</option>
              <option value="co">Colombia</option>
              <option value="ec">Ecuador</option>
              <option value="pa">Paraguay</option>
              <option value="pe">Perú</option>
              <option value="ve">Venezuela</option>
              <option value="ur">Uruguay</option>
            </select>

          </div>
          <div class="register-info">
            <input type="text" id="direccion" name="direccion" placeholder="direccion">
            <label for="direccion"></label>
            <span><%= locals.errors && errors.direccion ? errors.direccion.msg : null%></span>
          </div>
          <div class="register-info">
            <input type="date" name="fecha" min="1930-01-01" max="2010-12-31" placeholder="Fecha de nacimiento">
            <label for="fecha"></label>
          </div>
          <div class="register-info">
            <label for="avatar"></label>
            <input class=" form-control" type="file" id="avatar" name="avatar" accept=".jpg, .png" multiple>
        </div>
          <div class="register-eleccion">
          <p>Elige tus preferencias:</p>
          <ul>
            <li>
              <input type="checkbox" name="preferecias" id="Ficcion" value="F">
              <label for="Ficcion">Ficcion</label>
            </li>


            <li>
              <input type="checkbox" name="preferecias" id="Romance" value="R">
              <label for="Romance">Romance</label>
            </li>


            <li>
              <input type="checkbox" name="preferecias" id="Comics-Mangas" value="C">
              <label for="Comics-Mangas">Comics y Mangas</label>
            </li>


            <li>
              <input type="checkbox" name="preferecias" id="Literatura" value="l">
              <label for="Literatura">Literatura</label>
            </li>


            <li> 
              <input type="checkbox" name="preferecias" id="no Ficcion" value="n">
              <label for="no Ficcion">No Ficcion </label>
            </li>


            <li>
              <input type="checkbox" name="preferecias" id="Infantiles" value="i">
              <label for="Infantiles">Infantiles</label>
            </li>



            <li>
              <input type="checkbox" name="preferecias" id="Arte" value="a">
              <label for="Arte">Arte</label>
            </li>


            <li>
              <input type="checkbox" name="preferecias" id="Filosofia" value="f">
              <label for="Filosofia">Filosofia</label>
            </li>



            <li>
              <input type="checkbox" name="preferecias" id="Otros" value="o">
              <label for="Otros">Otros</label>
            </li>

          </ul>
        </div>
          <div class="register-info">
            <input class="<%= locals.errors && errors.email ? 'Is invalid' : null %>" type="email" id="email" name="email" placeholder="Email" value="<%= locals.old && old.email ? old.email : null%>" disabled>
            <label for="email"></label>
            <span><%= locals.errors && errors.email ? errors.email.msg : null%></span>
          </div>
          <div class="register-boton-box">
            <button class="register-button" type="submit">Guardar</button>
            <button class="register-button" type="reset"> <a href="/">Cancelar</a></button>
          </div
        </form>
      </article>
    </section>
  </main>
  <%- include('../partials/footer') %>   
</body>

</html>
