<!DOCTYPE html>
<html lang="es">

  <%- include('../partials/head', {
    title: "Paginas Bellas || Perfil de Usuario"
}) %>
  <body>
    <%- include('../partials/header') %>
  <main class="register">
    <section class="register-box">
      <h2>Perfil de <%= user.first_name %></h2>
      <div class="register-box-img">
      <% if (user.image === undefined) { %>
        <div class="register-box-user-img">
            <img src="/images/userImg/default-user.jpg" alt="" id="image">
        </div>
    <% } else { %>
        <div class="register-box-user-img">
            <img src="/images/userImg/<%= user.image%>" alt="" id="image">
        </div>
    <% } %>  
      </div>  
      <article class="register-form">
        <form method="POST" action="/users/updateprofile?_method=PUT" class="register-form-info" 
        enctype="multipart/form-data" >
          <div class="register-info">
            <input class="<%= locals.errors && errors.first_name ? 'Es invalid' : null %>" type="text" id="first_name" name="first_name" placeholder="Escribi tu nombre" value="<%= user.first_name%>">
            <span><%= locals.errores && errores.first_name ? errores.first_name.msg : null%></span>
          </div>
          <div class="register-info">
            <input class="<%= locals.errors && errors.last_name ? 'Es invalid' : null %>" type="text" id="last_name" name="last_name" placeholder="Escribi tu apellido" value="<%= user.last_name %>">
            <label for="last_name"></label>
            <span><%= locals.errors && errors.last_name? errors.last_name.msg : null%></span>
          </div>
          <div class="register-info">
            <label for="country"></label>
            <select name="country" id="country">
              <option value="">-Seleccione su país</option>
              <option value="ar"<%= locals.user && user.country && user.country == 'ar' ? 'selected' : null %>>Argentina</option>
              <option value="br"<%= locals.user && user.country && user.country == 'br' ? 'selected' : null %>>Brasil</option>
              <option value="bo"<%= locals.user && user.country && user.country == 'bo' ? 'selected' : null %>>Bolivia</option>
              <option value="ch"<%= locals.user && user.country && user.country == 'ch' ? 'selected' : null %>>Chile</option>
              <option value="co"<%= locals.user && user.country && user.country == 'co' ? 'selected' : null %>>Colombia</option>
              <option value="ec"<%= locals.user && user.country && user.country == 'ec' ? 'selected' : null %>>Ecuador</option>
              <option value="pa"<%= locals.user && user.country && user.country == 'pa' ? 'selected' : null %>>Paraguay</option>
              <option value="pe"<%= locals.user && user.country && user.country == 'pe' ? 'selected' : null %>>Perú</option>
              <option value="ve"<%= locals.user && user.country && user.country == 've' ? 'selected' : null %>>Venezuela</option>
              <option value="ur"<%= locals.user && user.country && user.country == 'ur' ? 'selected' : null %>>Uruguay</option>
            </select>

          </div>
          <div class="register-info">
            <input class="<%= locals.errors && errors.address ? 'Es invalid' : null %>" type="text" id="address" name="address" placeholder="address" value="<%= user.address%>">
            <label for="address"></label>
            <span><%= locals.errors && errors.address ? errors.address.msg : null%></span>
          </div>
          <div class="register-info">
            <input class="<%= locals.errors && errors.address ? 'Es invalid' : null %>" type="date" name="date" min="1930-01-01" max="2012-12-31" placeholder="Fecha de nacimiento" value="<%= user.date %>">
            <label for="date"></label>
          </div>
          <div class="register-info">
            <label for="image"></label>
            <input class=" form-control" type="file" id="image" name="image" accept=".jpg, .png" value="<%= user.image %>">
          </div>       
          <div class="register-eleccion">
          <p>Elige tus preferencias:</p>
          <ul>
            <li>
              <input type="checkbox" name="preferences" id="Ficcion" value="F">
              <label for="Ficcion">Ficcion</label>
            </li>
            <li>
              <input type="checkbox" name="preferences" id="Romance" value="R">
              <label for="Romance">Romance</label>
            </li>
            <li>
              <input type="checkbox" name="preferences" id="Comics-Mangas" value="C-M">
              <label for="Comics-Mangas">Comics y Mangas</label>
            </li>
            <li>
              <input type="checkbox" name="preferences" id="Literatura" value="L">
              <label for="Literatura">Literatura</label>
            </li>
            <li> 
              <input type="checkbox" name="preferences" id="no Ficcion" value="NF">
              <label for="no Ficcion">No Ficcion </label>
            </li>
            <li>
              <input type="checkbox" name="preferences" id="Infantiles" value="I">
              <label for="Infantiles">Infantiles</label>
            </li>
            <li>
              <input type="checkbox" name="preferences" id="Arte" value="A">
              <label for="Arte">Arte</label>
            </li>
            <li>
              <input type="checkbox" name="preferences" id="Filosofia" value="F">
              <label for="Filosofia">Filosofia</label>
            </li>
            <li>
              <input type="checkbox" name="preferences" id="Otros" value="O">
              <label for="Otros">Otros</label>
            </li>

          </ul>
        </div>
          <div class="register-info">
            <input class="<%= locals.errors && errors.email ? 'Is invalid' : null %>" type="email" id="email" name="email" placeholder="Email" value="<%= locals.old && old.email ? old.email : null%>" disabled>
            <label for="email"></label>
            <span><%= locals.errors && errors.email ? errors.email.msg : null%></span>
          </div>
          <div class="register-boton-box">
            <button class="register-button" type="submit">Guardar</button>
            <button class="register-button" type="reset"> <a href="/">Cancelar</a></button>
          </div
        </form>
      </article>
    </section>
  </main>
  <%- include('../partials/footer') %>   
</body>

</html>
