<!DOCTYPE html>
<html lang="es">

  <%- include('../partials/head', {
    title: "Paginas Bellas || Perfil de Usuario"
}) %>
  <body>
    <%- include('../partials/header') %>
  <main class="profile">
    <section class="profile-box">
      <h2>Perfil de <%= user.first_name%></h2>
      <div class="profile-box-img">
      <% if (user.image === undefined) { %>
        <div class="profile-box-user-img">
            <img src="/images/userImg/default-user.jpg" alt="" id="image">
        </div>
    <% } else { %>
        <div class="profile-box-user-img">
            <img src="/images/userImg/<%= user.image%>" alt="" id="image">
        </div>
    <% } %>  
      </div>  
      <article class="profile-form">
        <form method="POST" action="/users/updateprofile?_method=PUT" class="profile-form-info" 
        enctype="multipart/form-data" id="form-profile" no validate >
          <div class="profile-info">
            <input class="<%= locals.errors && errors.first_name ? 'Es invalid' : null %>" type="text" id="first_name" name="first_name" placeholder="Escribi tu nombre" value="<%= user.first_name%>">
            <span id="firstError"><%= locals.errores && errores.first_name ? errores.first_name.msg : null%></span>
          </div>
          <div class="profile-info">
            <input class="<%= locals.errors && errors.last_name ? 'Es invalid' : null %>" type="text" id="last_name" name="last_name" placeholder="Escribi tu apellido" value="<%= user.last_name %>">
            <label for="last_name"></label>
            <span id="lastError"><%= locals.errores && errores.last_name? errores.last_name.msg : null%></span>
          </div>
          <div class="profile-info">
            <label for="country"></label>
            <select name="country" id="country">
              <option value="">-Seleccione su país</option>
              <option value="ar"<%= locals.user && user.country && user.country == 'ar' ? 'selected' : null %>>Argentina</option>
              <option value="br"<%= locals.user && user.country && user.country == 'br' ? 'selected' : null %>>Brasil</option>
              <option value="bo"<%= locals.user && user.country && user.country == 'bo' ? 'selected' : null %>>Bolivia</option>
              <option value="ch"<%= locals.user && user.country && user.country == 'ch' ? 'selected' : null %>>Chile</option>
              <option value="co"<%= locals.user && user.country && user.country == 'co' ? 'selected' : null %>>Colombia</option>
              <option value="ec"<%= locals.user && user.country && user.country == 'ec' ? 'selected' : null %>>Ecuador</option>
              <option value="pa"<%= locals.user && user.country && user.country == 'pa' ? 'selected' : null %>>Paraguay</option>
              <option value="pe"<%= locals.user && user.country && user.country == 'pe' ? 'selected' : null %>>Perú</option>
              <option value="ve"<%= locals.user && user.country && user.country == 've' ? 'selected' : null %>>Venezuela</option>
              <option value="ur"<%= locals.user && user.country && user.country == 'ur' ? 'selected' : null %>>Uruguay</option>
              <span id="countryError"><%= locals.errores && errores.country ? errores.country.msg : null%></span>
            </select>
            
          </div>
          <div class="profile-info">
            <input class="<%= locals.errors && errors.address ? 'Es invalid' : null %>" type="text" id="address" name="address" placeholder="address" value="<%= user.address%>">
            <label for="address"></label>
            <span id="addressError"><%= locals.errores && errores.address ? errores.address.msg : null%></span>
          </div>
          <div class="profile-info">
            <input class="profile-date <%= locals.errors && errors.date ? 'Es invalid' : null %>" type="date" name="date" min="1930-01-01" max="2012-12-31" placeholder="Fecha de nacimiento" value="<%= user.date %>" id="date" >
            <label for="date"></label>
            <span id="dateError"><%= locals.errores && errores.date ? errores.date.msg : null%></span>
          </div>
          <div class="profile-info">
            <label for="image"></label>
            <input class=" form-control" type="file" id="image" name="image" accept=".jpg, .png, .gif, .jpeg" value="<%= user.image %>">
            <span id="imgError"><%= locals.errores && errores.image ? errores.image.msg : null%></span>
          </div>       
          <div class="profile-info">
          <p>Elige tus preferencias:</p>
          <label for="preferences"></label>
          <select name="preferences" id="preferences">
            <option value="">-Seleccione su país</option>
            <option value="F"<%= locals.user && user.preferences && user.preferences == 'fi' ? 'selected' : null %>>Ficcion</option>
            <option value="R"<%= locals.user && user.preferences && user.preferences == 'ro' ? 'selected' : null %>>Romance</option>
            <option value="C-M"<%= locals.user && user.preferences && user.preferences == 'c-m' ? 'selected' : null %>>Comics-Mangas</option>
            <option value="L"<%= locals.user && user.preferences && user.preferences == 'li' ? 'selected' : null %>>Literatura</option>
            <option value="NF"<%= locals.user && user.preferences && user.preferences== 'nf' ? 'selected' : null %>>No Ficcion</option>
            <option value="in"<%= locals.user && user.preferences && user.preferences== 'in' ? 'selected' : null %>>Infantiles</option>
            <option value="f"<%= locals.user && user.preferences && user.preferences == 'f' ? 'selected' : null %>>Filosofia</option>
            <option value="AR"<%= locals.user && user.preferences && user.preferences== 'ar' ? 'selected' : null %>>Arte</option>
            <option value="hi"<%= locals.user && user.preferences && user.preferences == 'hi' ? 'selected' : null %>>Historia</option>
            <option value="OT"<%= locals.user && user.preferences && user.preferences == 'ot' ? 'selected' : null %>>Otros</option>
            <span id="preferencesError"><%= locals.errores && errores.preferences ? errores.country.msg : null%></span>
          </select>
          
        </div>
          <div class="profile-boton-box">
            <button class="profile-button" type="submit">Guardar</button>
            <p class="invalid" id="submitError"></p>
            <button class="profile-button" type="reset"> <a href="/">Cancelar</a></button>
          </div
        </form>
      </article>
    </section>
  </main>
  <script src="/js/profile.js"></script>
  <%- include('../partials/footer') %>   
</body>

</html>
