<!DOCTYPE html>
<html lang="en">

  <%- include('../partials/head', {
    title: 'Paginas Bellas || Productos'
}) %>
    <body>
      <%- include('../partials/header') %>

        <main class="main-catalogo">
            <h1 class="titulo-catalogo">Productos</h1>
            <hr class="hr-separacion">
            <div class="container-catego">
                <div class="category_list">
                    <ul class="orden__lista">
                       <li class="orden__lista_li"><a class="orden__lista_li_a" href="#" category="all">Todo</a></li> 
                       <li class="orden__lista_li"><a href="#"  category="adultos">Adultos</a></li>
                        <li class="orden__lista_li"><a href="#" category="jovenes">Jovenes</a></li>
                        <li class="orden__lista_li"><a href="#" category="niños">Niños</a></li>
                        <li class="orden__lista_li"><a href="#" category="genero">Genero</a></li>
                        <li class="orden__lista_li"><a href="#" category="audiolibros">Audiolibros</a></li>
                        
                    </ul>
                    
                </div>
                  <div class="orden-info">
                    <label for="sort">Categorias</label>
                    <select name="categoria" id="categoria">
                      <option value="">Categorias</option>
                      <option value="jovenes">Jovenes</option>
                      <option value="niños">Niños</option>
                      <option value="adulto">Adultos</option>
                      
                    </select>
        
                  </div>
            </div>
           
              
            <section class="section-producto">
              <<% products.forEach(({id,name,price,image}) => { %>
                <article class="productos-catalogo">
                  <div class="foto-catalogo">
                      <a href="/products/detail/<%= id %>"><img class="zoom" width="100%" src="/images/<%= image %>" alt="imagen del producto"></a><!-- image a photo -->
                  </div>
                  <article class="detalles-catalogo">
                      <p><%= name %></p>
                      <strong class="precio-catalogo">$<%= price %> </strong>
                      <div class="reseña">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </div>
                      <button class="add-button">
                          <a href="/products/cart"><p class="add">Agregar al carrito</p></a>
                      </button>
                  </article>
              </article>
                <% }) %>
                
                
                
            </section>
            <div class="carrusel">
                <div class="carrusel-items">
                  <div class="carrusel-item">
                    <img src="/images/carrosuel/c1.png" alt="" />
                  </div>
                  <div class="carrusel-item">
                    <img src="/images/carrosuel/c2.png" alt="" />
                  </div>
                  <div class="carrusel-item">
                    <img src="/images/carrosuel/c3.jpg" alt="" />
                  </div>
                  <div class="carrusel-item">
                    <img src="/images/carrosuel/c4.webp" alt="" />
                  </div>
                  <div class="carrusel-item">
                    <img src="/images/carrosuel/c5.webp" alt="" />
                  </div>
                  <div class="carrusel-item">
                    <img src="/images/carrosuel/c6.png" alt="" />
                  </div>
                  <div class="carrusel-item">
                    <img src="/images/carrosuel/c13.png" alt="" />
                  </div>
                  <div class="carrusel-item">
                    <img src="/images/carrosuel/c14.png" alt="" />
                  </div>
                  <div class="carrusel-item">
                    <img src="/images/carrosuel/c15.png" alt="" />
                  </div>
                  <div class="carrusel-item">
                    <img src="/images/carrosuel/c16.png" alt="" />
                  </div>
                  <div class="carrusel-item">
                    <img src="/images/carrosuel/c17.png" alt="" />
                  </div>
                  <div class="carrusel-item">
                    <img src="/images/carrosuel/c12.webp" alt="" />
                  </div>
                </div>
              </div>
          </main>  
          <%- include('../partials/footer') %>   
</body>
</html>