<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head', {
        title: 'Paginas Bellas || Detalle de Producto'
    }) %>
    
    <body>
      <%- include('../partials/header') %>

    <main>
        
        
            <div class="detalle-producto">
                <div class="imagenes">
                    <section class="imagen-principal">
                        <img src="/images/<%= products.images[0].name %>" alt="">
                    </section>
                </div>
                <div class="contenido-text">
                    <section class="detalles">
                        <div>
                            <h1><%= products.name %></h1>
                        </div>
                        <div class="price">
                            <strong>$<%= products.price %> </strong>
                        </div>
                        <div class="ec-stars-wrapper">
                            <a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
                            <a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
                            <a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
                            <a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
                            <a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
                        </div>
                        <div class="precio-pago">
                            <p> <b>24</b> Cuotas de <b>$138</b> </p>
                            <a class="icon-card"><i class="fas fa-credit-card"></i></a>
                            <a class="medio-pago" href="/">Ver Medio De Pago</a>
                        </div>
    
                        <button class="add-button">
                            <a href="/products/cart">
                                <p class="add">Agregar al carrito</p>
                            </a>
                        </button>
                        <!-- <button class="add-button">
                            <a href="/admin/edit/<%=products.id%>">
                                <p class="add">Editar</p>
                            </a>
                        </button>
                        <form action="/admin/delete/<%=products.id%>?_method=DELETE" method="POST"> 
                            <button type="submit">Eliminar</button> -->
                        </form>
                        <h2 style="color: #fff;text-align: center;" >Modo de envios</h2>
                        <div class="input-group">
                            <input class="input-group__codigo" type="email" class="input" id="Email" name="Email" placeholder="Tu Codigo Postal" autocomplete="off">
                            <input class="button--submit" value="Verificar" type="submit">
                        </div> <br><br><br>
                        
                        <div class="descripcion">
                            <h3 class="autor">Autor : <%= products.author %></h3>
                            <p><%= products.description %></p>
                            <p class=" descripcion-libro">
                            <p>CORRESPONDE A : <%= products.name %> </p>
                            <p class="caractisticas-libro">
                                AUTOR: <%= products.author %> </p>
                                <p>EDITORIAL: Planeta </p>
                                <p>CATEGORÍA: Infantil  </p>
                                <p>AÑO: 2014</p>
                                <p>IDIOMA: Español</p>
                                <p>N° páginas: 608</p>
                                <p>Encuadernación: Rústica</p>
                                <p>Isbn13: 9789504962694</p>
                                <p>N° edición :2018</p>
                                
                                
                                
                                
                            </p>
    
                            </p>
                        </div>
                
                    </section>
                </div>
            </div>
           
        
        
            <h4>Productos Relacionados</h4>
        </div>
        <section class="segunda-section">



            <article class="producto-rel">
                <div class="box-img">
                    <img src="/images/kazan.png" alt="Dormir en un mar de estrellas" width="100%">
                </div>


                <div class="detalles-producto">
                    <div class="producto-favorito">
                        <h5 class="name-product">Operacion Kazan</h5>
                    </div>
                    <div class="text-detalle">
                        <p>$8000</p>
                        <p>5% off</p>
                    </div>

                </div>
            </article>
            <article class="producto-rel">
                <div class="box-img">
                    <img src="/images/kazan.png" alt="Dormir en un mar de estrellas" width="100%">
                </div>


                <div class="detalles-producto">
                    <div class="producto-favorito">
                        <h5 class="name-product">Operacion Kazan</h5>
                    </div>
                    <div class="text-detalle">
                        <p>$8000</p>
                        <p>5% off</p>
                    </div>

                </div>
            </article>
            <article class="producto-rel">
                <div class="box-img">
                    <img src="/images/kazan.png" alt="Dormir en un mar de estrellas" width="100%">
                </div>


                <div class="detalles-producto">
                    <div class="producto-favorito">
                        <h5 class="name-product">Operacion Kazan</h5>
                    </div>
                    <div class="text-detalle">
                        <p>$8000</p>
                        <p>5% off</p>
                    </div>

                </div>
            </article>
            <article class="producto-rel">
                <div class="box-img">
                    <img src="/images/kazan.png" alt="Dormir en un mar de estrellas" width="100%">
                </div>


                <div class="detalles-producto">
                    <div class="producto-favorito">
                        <h5 class="name-product">Operacion Kazan</h5>
                    </div>
                    <div class="text-detalle">
                        <p>$8000</p>
                        <p>5% off</p>
                    </div>

                </div>
            </article>
        </section>
        <article class="caja__slider">
            <div class="slider__banner" >
                <div class="caja-img"> 
                    <img class="mySlides" src="/images/carrosuel/banner0.jpeg" style="width:100%">
                </div>
                <div class="caja-img"> 
                    <img class="mySlides" src="/images/carrosuel/banner1.jpeg" style="width:100%">
                </div>
                <div class="caja-img"> 
                    <img class="mySlides" src="/images/carrosuel/banner2.jpeg" style="width:100%">
                </div>
                <div class="caja-img"> 
                    <img class="mySlides" src="/images/carrosuel/banner3.jpeg" style="width:100%">
                </div>
                <div class="caja-img"> 
                    <img class="mySlides" src="/images/carrosuel/banner4.jpeg" style="width:100%">
                </div>
                <div class="caja-img"> 
                    <img class="mySlides" src="/images/carrosuel/banner5.jpeg" style="width:100%">
                </div>
                <div id="arrows">
                    <button class="btn btn-next">></button>
                    <button class="btn btn-prev"><</button>
                  </div>
                  <div id="dots-wrapper" class="center_x">
                    <div class="dot-nav"></div>
                    <div class="dot-nav"></div>
                    <div class="dot-nav"></div>
                    <div class="dot-nav"></div>
                    <div class="dot-nav"></div>
                    <div class="dot-nav"></div>
                  </div>
            </div>
           
        </article>
        <!-- CAJA DE COMENTARIOS -->
        <hr class="hr-separacion">
        <section class="testimonios">
            <div class="testimonios__header">
                <span>Comentarios</span>
                <h1>Clientes Dicen</h1>
            </div>

            <!-- TESTIMONIOS CONTENEDOR -->
            <div class="testimonios__contenedor">
                <!-- CAJA1 -->
                <article class="testimonios_caja">
                    <div class="caja-top">
                        <div class="perfil">
                            <div class="perfil-img">
                                <img src="/images/avatar.png" alt="">
                            </div>
                            <!-- NOMBRE Y USUARIO -->
                            <div class="name-user">
                                <strong>Armando Wega</strong>
                                <span>@perezdo</span>
                            </div>
                        </div>
                        <!-- RESEÑAS -->
                        <div class="reseña">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>

                    <!-- COMENTARIOS -->
                    <div class="comentarios__clientes">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, dolorum?
                    </div>
                </article>
                <!-- CAJA2 -->
                <article class="testimonios_caja">
                    <div class="caja-top">
                        <div class="perfil">
                            <div class="perfil-img">
                                <img src="/images/avatar3.png" alt="">
                            </div>
                            <!-- NOMBRE Y USUARIO -->
                            <div class="name-user">
                                <strong>Rocio Zalazar</strong>
                                <span>@Zalazarro</span>
                            </div>
                        </div>
                        <!-- RESEÑAS -->
                        <div class="reseña">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>

                    <!-- COMENTARIOS -->
                    <div class="comentarios__clientes">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, dolorum?
                    </div>
                </article>
                <!-- CAJA3 -->
                <article class="testimonios_caja">
                    <div class="caja-top">
                        <div class="perfil">
                            <div class="perfil-img">
                                <img src="/images/avatar2.png" alt="">
                            </div>
                            <!-- NOMBRE Y USUARIO -->
                            <div class="name-user">
                                <strong>Rick Zanchez</strong>
                                <span>@Zanchez</span>
                            </div>
                        </div>
                        <!-- RESEÑAS -->
                        <div class="reseña">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>

                    <!-- COMENTARIOS -->
                    <div class="comentarios__clientes">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, dolorum?
                    </div>
                </article>
                <!-- CAJA4 -->
                <article class="testimonios_caja">
                    <div class="caja-top">
                        <div class="perfil">
                            <div class="perfil-img">
                                <img src="/images/avatar4.png" alt="">
                            </div>
                            <!-- NOMBRE Y USUARIO -->
                            <div class="name-user">
                                <strong>Maria Suarez</strong>
                                <span>@Suarez</span>
                            </div>
                        </div>
                        <!-- RESEÑAS -->
                        <div class="reseña">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>

                    <!-- COMENTARIOS -->
                    <div class="comentarios__clientes">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, dolorum?
                    </div>
                </article>

                <div>
                    <form class="caja__comentario" method="post">
                        <textarea id="cajacomentarios" cols="70%" name="mensaje" required="" rows="8"
                            placeholder="Escriba aquí"></textarea><br /><br />
                        <input class="boton__comentar" type="submit" name="Guardar" value="Comentar">
                    </form>
                </div>
            </div>




        </section>
    </main>
    <script src="/js/glider.js"></script>
    <%- include('../partials/footer') %>
</body>

</html>