<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head', {
        title: 'Paginas Bellas || Detalle de Producto'
    }) %>
    
    <body>
      <%- include('../partials/header') %>

    <main>
        
        
            <div class="detalle-producto">
                <div class="imagenes">
                    <section class="imagen-principal">
                        <img src="/images/<%= product.image %>" alt="">
                    </section>
                </div>
                <div class="contenido-text">
                    <section class="detalles">
                        <div>
                            <h1><%= product.name %></h1>
                        </div>
                        <div class="price">
                            <strong>$<%= product.price %> </strong>
                        </div>
                        <form>
                            <p class="clasificacion">
                                <input id="radio1" type="radio" name="estrellas" value="5">
                                <!--
                              --><label for="radio1">★</label>
                                <!--
                              --><input id="radio2" type="radio" name="estrellas" value="4">
                                <!--
                              --><label for="radio2">★</label>
                                <!--
                              --><input id="radio3" type="radio" name="estrellas" value="3">
                                <!--
                              --><label for="radio3">★</label>
                                <!--
                              --><input id="radio4" type="radio" name="estrellas" value="2">
                                <!--
                              --><label for="radio4">★</label>
                                <!--
                              --><input id="radio5" type="radio" name="estrellas" value="1">
                                <!--
                              --><label for="radio5">★</label>
                            </p>
                        </form>
                        <div class="precio-pago">
                            <p> <b>24</b> Cuotas de <b>$138</b> </p>
                            <a class="icon-card"><i class="fas fa-credit-card"></i></a>
                            <a class="medio-pago" href="/">Ver Medio De Pago</a>
                        </div>
    
                        <button class="add-button">
                            <a href="/products/cart">
                                <p class="add">Agregar al carrito</p>
                            </a>
                        </button>
                        <button class="add-button">
                            <a href="/products/edit/<%=product.id%>">
                                <p class="add">Editar</p>
                            </a>
                        </button>
                        <form action="/products/delete/<%=product.id%>?_method=DELETE" method="POST"> 
                            <button type="submit">Eliminar</button>
                        </form>
                        <div class="medio-pago">
                            <a class="icon"><i class="fas fa-truck"></i></a>
                            <p>Modos De Envios</p>
                        </div>
                        <button class="add-button2">
                            <input placeholder="Codigo Postal">
                            <a href="product-Cart">
                                <p class="add">Calcular>></p>
                            </a>
                        </button>
                        <div class="descripcion">
                            <h3 class="autor">Autor:<%= product.author %></h3>
                            <p><%= product.description %></p>
                            <p class=" descripcion-libro">
                            <p>corresponde a:<%= product.name %> </p>
                            <p class="caractisticas-libro">
                                Autor: <%= product.author %> 
                                Editorial: Planeta
                                Categoría: Ficción
                                Año: 2014
                                Idioma: Español
                                N° páginas: 608
                                Encuadernación: Rústica
                                Isbn13: 9789504962694
                                N° edición :2018
                            </p>
    
                            </p>
                        </div>
                
                    </section>
                </div>
            </div>
           
        
        
            <h4>Productos Relacionados</h4>
        </div>
        <section class="segunda-section">



            <article class="producto-rel">
                <div class="box-img">
                    <img src="/images/kazan.png" alt="Dormir en un mar de estrellas" width="100%">
                </div>


                <div class="detalles-producto">
                    <div class="producto-favorito">
                        <h5 class="name-product">Operacion Kazan</h5>
                    </div>
                    <div class="text-detalle">
                        <p>$8000</p>
                        <p>5% off</p>
                    </div>

                </div>
            </article>
            <article class="producto-rel">
                <div class="box-img">
                    <img src="/images/kazan.png" alt="Dormir en un mar de estrellas" width="100%">
                </div>


                <div class="detalles-producto">
                    <div class="producto-favorito">
                        <h5 class="name-product">Operacion Kazan</h5>
                    </div>
                    <div class="text-detalle">
                        <p>$8000</p>
                        <p>5% off</p>
                    </div>

                </div>
            </article>
            <article class="producto-rel">
                <div class="box-img">
                    <img src="/images/kazan.png" alt="Dormir en un mar de estrellas" width="100%">
                </div>


                <div class="detalles-producto">
                    <div class="producto-favorito">
                        <h5 class="name-product">Operacion Kazan</h5>
                    </div>
                    <div class="text-detalle">
                        <p>$8000</p>
                        <p>5% off</p>
                    </div>

                </div>
            </article>
            <article class="producto-rel">
                <div class="box-img">
                    <img src="/images/kazan.png" alt="Dormir en un mar de estrellas" width="100%">
                </div>


                <div class="detalles-producto">
                    <div class="producto-favorito">
                        <h5 class="name-product">Operacion Kazan</h5>
                    </div>
                    <div class="text-detalle">
                        <p>$8000</p>
                        <p>5% off</p>
                    </div>

                </div>
            </article>
        </section>
        <article class="caja__slider">
            <div class="slider__banner" style="max-width: 700px;">
                <img class="mySlides" src="/images/slider2.jpg" style="width:100%">
                <img class="mySlides" src="/images/slider1.jpg" style="width:100%">
                <img class="mySlides" src="/images/slider3.jpg" style="width:100%">
            </div>

            <script>
                var myIndex = 0;
                carousel();

                function carousel() {
                    var i;
                    var x = document.getElementsByClassName("mySlides");
                    for (i = 0; i < x.length; i++) {
                        x[i].style.display = "none";
                    }
                    myIndex++;
                    if (myIndex > x.length) { myIndex = 1 }
                    x[myIndex - 1].style.display = "block";
                    setTimeout(carousel, 3000); // cambia la imagen cada 3 segundos
                }
            </script>
        </article>
        <!-- CAJA DE COMENTARIOS -->
        <hr class="hr-separacion">
        <section class="testimonios">
            <div class="testimonios__header">
                <span>Comentarios</span>
                <h1>Clientes Dicen</h1>
            </div>

            <!-- TESTIMONIOS CONTENEDOR -->
            <div class="testimonios__contenedor">
                <!-- CAJA1 -->
                <article class="testimonios_caja">
                    <div class="caja-top">
                        <div class="perfil">
                            <div class="perfil-img">
                                <img src="/images/avatar.png" alt="">
                            </div>
                            <!-- NOMBRE Y USUARIO -->
                            <div class="name-user">
                                <strong>Armando Wega</strong>
                                <span>@perezdo</span>
                            </div>
                        </div>
                        <!-- RESEÑAS -->
                        <div class="reseña">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>

                    <!-- COMENTARIOS -->
                    <div class="comentarios__clientes">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, dolorum?
                    </div>
                </article>
                <!-- CAJA2 -->
                <article class="testimonios_caja">
                    <div class="caja-top">
                        <div class="perfil">
                            <div class="perfil-img">
                                <img src="/images/avatar3.png" alt="">
                            </div>
                            <!-- NOMBRE Y USUARIO -->
                            <div class="name-user">
                                <strong>Rocio Zalazar</strong>
                                <span>@Zalazarro</span>
                            </div>
                        </div>
                        <!-- RESEÑAS -->
                        <div class="reseña">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>

                    <!-- COMENTARIOS -->
                    <div class="comentarios__clientes">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, dolorum?
                    </div>
                </article>
                <!-- CAJA3 -->
                <article class="testimonios_caja">
                    <div class="caja-top">
                        <div class="perfil">
                            <div class="perfil-img">
                                <img src="/images/avatar2.png" alt="">
                            </div>
                            <!-- NOMBRE Y USUARIO -->
                            <div class="name-user">
                                <strong>Rick Zanchez</strong>
                                <span>@Zanchez</span>
                            </div>
                        </div>
                        <!-- RESEÑAS -->
                        <div class="reseña">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>

                    <!-- COMENTARIOS -->
                    <div class="comentarios__clientes">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, dolorum?
                    </div>
                </article>
                <!-- CAJA4 -->
                <article class="testimonios_caja">
                    <div class="caja-top">
                        <div class="perfil">
                            <div class="perfil-img">
                                <img src="/images/avatar4.png" alt="">
                            </div>
                            <!-- NOMBRE Y USUARIO -->
                            <div class="name-user">
                                <strong>Maria Suarez</strong>
                                <span>@Suarez</span>
                            </div>
                        </div>
                        <!-- RESEÑAS -->
                        <div class="reseña">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>

                    <!-- COMENTARIOS -->
                    <div class="comentarios__clientes">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, dolorum?
                    </div>
                </article>

                <div>
                    <form class="caja__comentario" method="post">
                        <textarea id="cajacomentarios" cols="70%" name="mensaje" required="" rows="8"
                            placeholder="Escriba aquí"></textarea><br /><br />
                        <input class="boton__comentar" type="submit" name="Guardar" value="Comentar">
                    </form>
                </div>
            </div>




        </section>
    </main>
    <%- include('../partials/footer') %>
</body>

</html>