<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', { title: 'Paginas Bellas || Productos' }) %>

  <body>
    <%- include('../partials/header') %>

      <main class="main-catalogo">
        <h1 class="titulo-catalogo">Productos</h1>
        <hr class="hr-separacion">
        <div class="container-catego">
          <div class="category_list">
            <ul class="orden__lista">
            
              <li class="orden__lista_li"><a class="orden__lista_li_a" href="/products" category="all">Todo</a></li>
              <li class="orden__lista_li"><a href="/products?category=1" category="adultos">Adultos</a></li>
              <li class="orden__lista_li"><a href="/products?category=2" category="jovenes">Jovenes</a></li>
              <li class="orden__lista_li"><a href="/products?category=3" category="niños">Niños</a></li>


            </ul>

          </div>
          <div class="orden-info">
            <label for="sort">Categorias</label>
            <select name="categoria" id="categoria">
              <option value="">Categorias</option>
              <option value="jovenes">Jovenes</option>
              <option value="niños">Niños</option>
              <option value="adulto">Adultos</option>

            </select>

          </div>
        </div>


        <section class="section-producto">
          <% products.forEach(({id,name,price,images})=> { %>
            <article class="productos-catalogo">
              <div class="foto-catalogo">
                <a href="/products/detail/<%= id %>"><img class="zoom" width="100%" src="/images/<%= images[0].name%>"
                    alt="imagen del producto"></a><!-- image a photo -->
              </div>
              <article class="detalles-catalogo">
                <p class="name_book">
                  <%= name %>
                </p>
                <strong class="precio-catalogo">$<%= price %> </strong>
                <div class="reseña">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <button class="add-button">
                  <a href="/products/cart">
                    <p class="add">Agregar al carrito</p>
                  </a>
                </button>
              </article>
            </article>
            <% }) %>



        </section>
        <article class="caja__slider">
          <div class="slider__banner" >
              <div class="caja-img"> 
                  <img class="mySlides" src="/images/carrosuel/banner0.jpeg" style="width:100%">
              </div>
              <div class="caja-img"> 
                  <img class="mySlides" src="/images/carrosuel/banner1.jpeg" style="width:100%">
              </div>
              <div class="caja-img"> 
                  <img class="mySlides" src="/images/carrosuel/banner2.jpeg" style="width:100%">
              </div>
              <div class="caja-img"> 
                  <img class="mySlides" src="/images/carrosuel/banner3.jpeg" style="width:100%">
              </div>
              <div class="caja-img"> 
                  <img class="mySlides" src="/images/carrosuel/banner4.jpeg" style="width:100%">
              </div>
              <div class="caja-img"> 
                  <img class="mySlides" src="/images/carrosuel/banner5.jpeg" style="width:100%">
              </div>
              <div id="arrows">
                  <button class="btn btn-next">></button>
                  <button class="btn btn-prev"><</button>
                </div>
                <div id="dots-wrapper" class="center_x">
                  <div class="dot-nav"></div>
                  <div class="dot-nav"></div>
                  <div class="dot-nav"></div>
                  <div class="dot-nav"></div>
                  <div class="dot-nav"></div>
                  <div class="dot-nav"></div>
                </div>
          </div>
      </article>
      </main>
      <%- include('../partials/footer') %>
      <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.7/glider.min.js"></script>
  <script src="/js/glider.js"></script>

  </body>

</html>