<!DOCTYPE html>
<html>
  <%- include('partials/head', {
    title: 'Paginas Bellas || Home'
}) %>

<body>
  <%- include('partials/header') %>

  <main class="home">

    <div class="home__banner"><img src="/images/fondoHome.jpg" alt="" /></div>

    <section class="home__categorias__titulo">
      <h3>Categorías</h3>
    </section>

    <section class="home__categorias">
      <article class="home__categorias__niños">
        <div class="home__categorias__niños__circle">
          <a href="#"><img src="/images/book-kids.png" alt="" /></a>
        </div>
        <a href="" class="home__categorias__niños__texto1">
          <h3>NIÑOS</h3>
        </a>
      </article>

      <article class="home__categorias__jovenes">
        <div class="home__categorias__jovenes__circle">
          <a href="#"><img src="/images/book-jovs.png" alt="" /></a>
        </div>
        <a href="#" class="home__categorias__niños__texto2">
          <h3>JÓVENES</h3>
        </a>
      </article>

      <article class="home__categorias__adultos">
        <div class="home__categorias__adultos__circle">
          <a href="#"><img src="/images/book-adults.png" alt="" /></a>
        </div>
        <a href="" class="home__categorias__niños__texto3">
          <h3>ADULTOS</h3>
        </a>
      </article>
    </section>

    <section class="home__best-sellers__titulo">
      <h3>Best sellers</h3>
    </section>

    <section class="home__best-sellers">
      <% products.forEach(({id, name, author, price, image})=> { %>
      <article class="home__best-sellers__producto1">
        <div class="home__best-sellers__producto1__circulo">
          <a href="/products/detail/<%= id %>"><img src="/images/<%= image %>" alt="libro La Bestia"></a>
        </div>
        <div class="home__best-sellers__producto1__transparente"></div>
        <div class="titulo">
          <h5><a href="/products/detail/" title="La Bestia"><%= name %></a></h5>
        </div>
        <div class="autor">
          <p><%= author %></p>
        </div>
        <div class="precio">
          <strong>$ <%= price %></strong>
        </div>
        <div class="home__best-sellers__producto1__estrellas">
          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
            class="fas fa-star"></i>
        </div>
      </article>
      <% }) %>




    </section>

  </main>
  <%- include('partials/footer') %>
</body>

</html>