<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {
        title: 'ADMIN || LISTA'
    }) %>
<body class="admin-body">
    <%- include('partials/admin-header') %>

    <div class="listaProductosAdmin">
      <table>
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nombre</th>
              <th scope="col">Precio</th>
              <th scope="col">Stock</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            
          
            <% products.forEach(product => { %>
              <tr>
                <th><product class="id"></product><%- product.id %> </th>
                <td><%- product.name %>></td>
                <td><%- product.price %></td>
                <td><%- product.stock %>></td>
                <td>
                  <div>
                  <a href="./admin/edit">
                    <i class="fa-solid fa-pen-to-square"></i>
                  </a>
                </div>
                  <form action="/admin/productos/eliminar/?_method=DELETE" method="post">
                    <button type="submit">
                      <i class="fa-solid fa-trash-can"></i>
                    </button>
                  </form>
                </td>
              </tr>
              <tr>
              <% }) %> 
            
              <th>id </th>
              <td>nombre del producto</td>
              <td>precio del producto</td>
              <td>stock del producto</td>
              <td>
                <div>
                <a href="./admin/edit">
                  <i class="fa-solid fa-pen-to-square"></i>
                </a>
              </div>
                <form action="/admin/productos/eliminar/?_method=DELETE" method="post">
                  <button type="submit">
                    <i class="fa-solid fa-trash-can"></i>
                  </button>
                </form>
              </td>
            </tr>
              
          </tbody>
        </table>
    </div>
        </section>
        </main>
        <%- include('partials/footer') %>
  </body>
</html>