<!DOCTYPE html>
<html lang="en">

  <%- include('partials/head', {
    title: 'Paginas Bellas || Busqueda'
}) %>
    <body>
      <%- include('partials/header') %>

        <main class="main-search">
            
<% if (results.length > 0) { %>
  <% results.forEach(({id, name, author, price, images})=> { %>
    <h1 class="titulo-catalogo">Resultado de la busqueda:  "<%= name %>"</h1>
  <hr class="hr-separacion">
    <article class="caja-result">
      <div class="results-caja-img">
        <div class="results-caja-circulo">
          <a class="result-img" href="/products/detail/<%= id %>"><img class="results-img" src="/images/<%= images[0].name%>" alt="imagen del producto"></a><!-- image a photo -->       
        </div>
        <article class="detalles-catalogo">
          <a class="result-img" href="/products/detail/<%= id %>"><p><%= name %> </p></a>
            <p class="precio-catalogo">$<%= price %></p>
            <div class="reseña">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <button class="result-add-button">
                <a class="result-add-a" href="/products/cart"><p>Agregar al carrito</p></a>
            </button>
      </article> 
      </div>
  </article>
  <% }) %>
  <% } else { %>
    <h2 class="product-not-found">NO TENEMOS EL LIBRO QUE SOLICITASTE. INTENTÁ CON OTRO</h2>
    <img src="/images/nofound.webp" alt="Libro No Encontrado" width="100%" height="350px">
<% } %>
            
            <section class="section-producto">
             <
                
                
                
            </section>
            <div class="carrusel-result">
                <div class="carrusel-items">
                  <div class="carrusel-item">
                    <img src="/images/carrosuel/c1.png" alt="" />
                  </div>
                  <div class="carrusel-item">
                    <img src="/images/carrosuel/c2.png" alt="" />
                  </div>
                  <div class="carrusel-item">
                    <img src="/images/carrosuel/c3.jpg" alt="" />
                  </div>
                  <div class="carrusel-item">
                    <img src="/images/carrosuel/c4.webp" alt="" />
                  </div>
                  <div class="carrusel-item">
                    <img src="/images/carrosuel/c5.webp" alt="" />
                  </div>
                  <div class="carrusel-item">
                    <img src="/images/carrosuel/c6.png" alt="" />
                  </div>
                  <div class="carrusel-item">
                    <img src="/images/carrosuel/c13.png" alt="" />
                  </div>
                  <div class="carrusel-item">
                    <img src="/images/carrosuel/c14.png" alt="" />
                  </div>
                  <div class="carrusel-item">
                    <img src="/images/carrosuel/c15.png" alt="" />
                  </div>
                  <div class="carrusel-item">
                    <img src="/images/carrosuel/c16.png" alt="" />
                  </div>
                  <div class="carrusel-item">
                    <img src="/images/carrosuel/c17.png" alt="" />
                  </div>
                  <div class="carrusel-item">
                    <img src="/images/carrosuel/c12.webp" alt="" />
                  </div>
                </div>
              </div>
          </main>  
          <%- include('partials/footer') %>   
</body>
</html>